body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
    line-height: 1.5;
    background-color: #111;
}


header {
    margin-bottom: 1.5rem;
}

#main-content {
    padding: 1rem; 
}
/* created a square booard 300x300 */
.game-board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
}

/* base style for pads */
.pad {
    width: 100%;
    height: 100%;
    border: none;
}
