body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
    line-height: 1.5;
    background-color: #111;
}


header {
    margin-bottom: 1.5rem;
}

#main-content {
    padding: 1rem; 
}

.game-board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}